body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: green;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}